<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <%= image_tag "logo.png", width: "auto", height: "100px" %>
            </div>
            <div class="col-sm-4">
                <ul class="first">
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Site Map</a></li>

                </ul>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li>37 W 47th St 6th Floor, #600, New York, NY 10036</li>
                    <li><a href="tel:(212) 938-1002">(212) 938-1002</a></li>
                    <li><a href="#" class="contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center mt-40">
                <p>Copyright © 2017 TRUVAL</p>
            </div>
        </div>
    </div>
</footer>
