<section id="topbar" class="hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <a href="#">
                  <%= image_tag "logo.png", class: "logo", width: "auto", height: "100px" %>
                </a>
            </div>
            <div class="col-sm-4 text-right pr-30 ">
                <p class="phone"><a href="tel:212.938.1002">212.938.1002</a></p>
                <ul class="top-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-yelp"></i></a></li>
                </ul>

            </div>

        </div>
        <div class="row">
            <div class=" col-lg-10 col-md-10 col-sm-12 centered ">
                <ul class="menu text-center">
                    <div class="dropdown">
                        <li class="col-sm-3 nopadding dropbtn"><a href="#">Items We buy</a></li>
                        <ul class="dropdown-menu dropdown-content col-xs-12" id="dropdown-menu">
                            <li class="col-sm-2"><a href="#">Gold Jewelry</a></li>
                            <li class="col-sm-2"><a href="#">Diamond Jewelry</a></li>
                            <li class="col-sm-2"><a href="#">Designer Jewelry</a></li>
                            <li class="col-sm-2"><a href="#">Luxury Watches</a></li>
                            <li class="col-sm-2"><a href="#">Coins &amp; Bullion</a></li>
                            <li class="col-sm-2"><a href="#">Fine Silver</a></li>
                        </ul>
                    </div>

                    <li class="col-sm-3 nopadding"><a href="#">NYC Locations</a></li>
                    <li class="col-sm-3 nopadding"><a href="#">Process</a></li>
                    <li class="col-sm-3 nopadding last-child"><a href="#">Get A Quote</a></li>
                </ul>

            </div>
        </div>
    </div>
</section>
<nav class="navbar navbar-default visible-xs" id="nav">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="col-xs-12">
                <div class="col-xs-6 nopadding-left">
                    <a class="navbar-brand" href="index.html">
                      <%= image_tag "logo.png", class: "logo", height: "auto", width: "150px" %>
                    </a>
                </div>
                <div class="col-xs-6">

                    <div class="col-xs-8 nopadding">
                        <div class="text-right icons">
                            <i class="fa fa-phone fa-2x"></i>
                            <i class="fa fa-envelope fa-2x"></i>
                        </div>
                    </div>
                    <div class="col-xs-4 nopadding">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-scroll" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                         </button>
                    </div>
                </div>

            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbar-scroll">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" id="mobile-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="drop">Items We buy</a>
                    <ul class="dropdown-menu col-xs-12">
                        <li class="col-sm-2"><a href="#">Gold Jewelry</a></li>
                        <li class="col-sm-2"><a href="#">Diamond Jewelry</a></li>
                        <li class="col-sm-2"><a href="#">Designer Jewelry</a></li>
                        <li class="col-sm-2"><a href="#">Luxury Watches</a></li>
                        <li class="col-sm-2"><a href="#">Coins &amp; Bullion</a></li>
                        <li class="col-sm-2"><a href="#">Fine Silver</a></li>
                    </ul>

                </li>

                <li><a href="#">NYC Locations</a></li>
                <li><a href="#">Process</a></li>
                <li><a href="#">Get A Quote</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
